

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
  }

  header{
    height: 5%;
    width: 100%;
    background-color: #dbe0d9bb;
    color: #4CAF50;
    display: flex;
    align-items: center;
  }

  .header-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .burger{
    display: none;
    height: 5vw;
    width: 5vw;
    border-radius: 0;
  }

  nav ul li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
  }

  nav ul li a{
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s ease;
  }
  

  nav ul li a:hover{
    color: #86ca89;
  }

  .logo{
    /*font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);*/
    font-size: 2vw;
  }
  .logo-short{
    display: none;
    font-size: 2vw;
    font-weight: 600;
  }
  .hero{
    width: 100%;
    height: 25vw;
    background-image: url(/Assets/Images/food_recipes_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    align-content: center;
    
  }

  .hero .hero-section{
    height: 100%;
    background-color: #00000049;
    text-align: center;
    align-content: center;
  }   

  .hero h2{
    margin: 0%;
    font-family: 'Playwrite CU',cursive;
    /*font-size: clamp(3rem, 3vw + 2rem, 4rem);*/
    font-size: 4vw;
  }

  .hero p {
    /*font-size: clamp(0.75rem, 0.75vw + 0.5rem, 2rem);*/
    font-size: 2vw;
  }

  .search-box{
    max-width: 38vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vw;
    
  }

  .search-box input{
    
    width: 70%;
    padding: 1vw;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1vw;
  }

  .search-box button{
    
    padding: 1vw;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1vw;
    background-color: #86ca89;
    color: antiquewhite;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
  }

  .search-box button:hover{
    background-color: #388E3C;
    color: white;
  }

  .recipes {
    padding: 2vh 0;
  }

  .recipes h2{
    text-align: center;
    color: #4CAF50;
    margin: 0 4vw;
    /*font-size: clamp(1.5rem, 1.5vw + 1rem, 2rem);*/
    font-size: 3vw;
  }
    h3, h4 {
    color: #4CAF50; 
    margin-bottom: 10px;
    text-align: center; 
  }
  
  
  
  
  
  
  img {
    display: block;
    /*margin: 20px auto; */
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  .title-image {
    height: 80%;
    width: 80%;
    
  }
  
  .container{
    width: 90vw;
    margin: 1vw 2vw;
    background-color: #c2eec4c4;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4vw 2vw;
    padding: 4vw 2vw;
    margin-right: 2vw;
  }
  
  
  

   .card-link img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.5s;
  }
  .card-link{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 15vw;
    width: 100%;
    
    margin-right: 5.1vw;
  }
  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.11), #4CAF50);
    border-radius: 8px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 ;
    transition: height 0.5s;

    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: "Lexend Exa", sans-serif;
}
.card-link:hover{
  box-shadow: 1px 1px 20px #4CAF50;
}
.card-link:hover .card-image{
  transform: scale(1.1);
}
.card-link:hover .layer{
  height: 100%;
}
footer p{
  text-align: center;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container{
    grid-template-columns: repeat(3,1fr);
  }
  .logo{
    font-size: 2.5vw;
  }
}
  
  
@media (min-width: 426px) and (max-width: 768px) {
    .nav-list{
      display: none;
    }
    .container{
      grid-template-columns: repeat(2,1fr);
    }
    nav .burger{
      display: block;
    }
    .logo{
      font-size: 3vw;
    }
    footer{
      font-size: large;
    }
    

}
@media (min-width: 376px) and (max-width:425px) {
  .nav-list{
    display: none;
  }
  .container{
    grid-template-columns: repeat(2,1fr);
  }
  nav .burger{
    display: block;
  }
  .logo-short{
    display: block;
    font-size: 4vw;
  }
  .logo{
    display: none;
  }
  .card-link{
    height: 20vw;
  }
}
@media (min-width: 321px) and (max-width:375px) {
  .nav-list{
    display: none;
  }
  .container{
    grid-template-columns: repeat(2,1fr);
  }
  nav .burger{
    display: block;
  }
  .logo-short{
    display: block;
    font-size: 4vw;
  }
  .logo{
    display: none;
  }
  .card-link{
    height: 20vw;
  }
}
@media (max-width:320px) {
  .nav-list{
    display: none;
  }
  .container{
    grid-template-columns: repeat(2,1fr);
  }
  
  nav .burger{
    display: block;
  }
  .logo-short{
    display: block;
    font-size: 4vw;
  }
  .logo{
    display: none;
  }
  .card-link{
    height: 20vw;
  }
  
}

  